body {
    font-family: 'Arial', sans-serif;
}

.header-image {
    background: url("../img/portada-06.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image h1 {
    font-size: 3em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-image p {
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
